{% extends 'base.html' %}

{% block head %}
    <title>Fetch form Individual</title>
{% endblock %}
{% block title1 %}Company Database{% endblock %}
{% block title2 %}Fetch from Individual{% endblock %}
{% block body %}
    <div class="content">
        <h1 class="mt-4" style="text-align: center">Fetch from Individual</h1>

        <div class="form">
            <form action="/fetch" method="POST">
                <div class="form-group" style="width: 50%; margin: auto">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" name="id" id="id" size="5"><br><br>
                    <label for="access_token">Access token</label>
                    <input type="text" class="form-control" name="access_token" id="access_token" size="32">
                    <br>
                    <input type="submit" class="btn btn-primary" value="Fetch!">
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        {% if wrong %}
            alert("Wrong id or access token! Please try again.")
        {% endif %}
    </script>
{% endblock %}