{% extends 'base.html' %}

{% block head %}
    <title>Individual Database</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Individual Database</h1>
        {% if items|length < 1 %}
            <h4 style="text-align: center">There are no entries, please create one.</h4>
        {% else %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Time added</th>
                    <th>Actions</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.content }}</td>
                        <td>{{ item.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            <a href="/delete/{{ item.id }}">Delete</a>
                            <br>
                            <a href="/update/{{ item.id }}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Entry">
            </form>
        </div>
    </div>
{% endblock %}