{% extends 'base.html' %}

{% block head %}
    <title>Individual Database</title>
{% endblock %}
{% block body %}
    <div class="content">
        <h1 class="mt-4" style="text-align: center">Individual Database</h1>
        {% if items|length < 1 %}
            <h4 style="text-align: center">There are no entries, please create one.</h4>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-responsive table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Content</th>
                            <th scope="col">Time added</th>
                            <th scope="col">Access token*</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.content }}</td>
                                <td>{{ item.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                <td>{{ item.access_token }}</td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm" href="/delete/{{ item.id }}">Delete</a>

                                    <a class="btn btn-outline-secondary btn-sm" href="/update/{{ item.id }}">Update</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}


        <form action="/" method="POST">
            <div class="form-group" style="width: 50%; margin: auto; align-content: center; text-align: center">
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <input type="text" class="form-control" name="content" id="content">
                    </div>
                    <div class="col-md-auto">
                        <input type="submit" class="btn btn-primary" value="Add Entry">
                    </div>
                </div>
            </div>
        </form>
    <br>

    <h6 class="mt-4" style="text-align: center">*Access token will be deleted from the view and available only upon request for authorised entities.</h6>


    </div>
{% endblock %}