{% extends 'base.html' %}

{% block head %}
    <title>Update Entry</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Update Entry</h1>

{#        <div class="form">#}
{#            <form action="/update/{{ item.id }}" method="POST">#}
{#                <input type="text" name="content" id="content" value="{{ item.content }}">#}
{#                <input type="submit" value="Update">#}
{#            </form>#}
{#        </div>#}
        <form action="/update/{{ item.id }}" method="POST">
            <div class="form-group" style="width: 50%; margin: auto; align-content: center; text-align: center">
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <input type="text" class="form-control" name="name" id="content" value="{{ item.name }}">
                        <input type="text" class="form-control" name="email" id="content" value="{{ item.email }}">
                        <input type="text" class="form-control" name="phone" id="content" value="{{ item.phone }}">
                        <input type="text" class="form-control" name="blood" id="content" value="{{ item.blood }}">
                    </div>
                    <div class="col-md-auto">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}